.THIS .colorBlue{
    color : white;
    background : #0BA2D9;
}

.THIS .colorFont{
    color : #0BA2D9;
    display: inline;
}

.THIS .buttonPos{
    float: right;
    margin-right: 10%;
}


.THIS .disableNavIcon{
    background: #a3a3a3 !important;
    cursor: default !important;
}