@media only screen and (max-width:1600px) {
.inner-wrap h1 {font-size:30px; margin-bottom:20px;}
.inner-wrap, .compWrapper {padding:30px;}
.menu-col {width: 300px;  padding:25px 15px 0px 15px;}
.body-right-col {padding: 0 0 50px 300px;}
.additional-sec {margin-bottom: 40px;}
.main-title p {font-size: 15px;}
.title-1 h1, .title-4 h1{ font-size:32px;}
.title-3 h1, .title-3 h2{ font-size:28px;}	
.nav-wrap {padding-left: 30px;}	
.user-name {margin-left:30px;}	
}

@media only screen and (max-width:1400px) {
.inner-wrap h1 {font-size:26px; margin-bottom:16px;}
.form-control {height:40px !important; font-size: 14px;}
.inp-full i {top: 7px; width: 20px;}
.progrm-img {height:180px;}
.withyou-col{height:36px; line-height:36px;}
.prof-circle {width: 300px;}
.submisn-dtl {padding-left: 300px;}
.program-list-col li {font-size: 14px;}
.title-2, .details-wrap h2, .video-row h2 {font-size: 18px;}
.keep-txt h2 {font-size: 22px;}
.keep-txt {padding: 14px 0 0 100px;}
.keep-icon {width: 80px;}
.comn-row p {font-size: 14px;}
.comn-row {margin-bottom: 30px;}
.scolrsp-content, .progrm-title h3 {font-size: 14px; margin-bottom: 12px;}
.video-row h3{font-size:14px;}
.aplictn-fee {margin: 25px 0px; font-size: 24px;}
.title-wrap-2 h2{font-size:20px; margin-bottom:8px;}
.steps-sec {margin-bottom: 25px; padding-bottom: 25px;}
.program-list-col h3 {font-size: 12px; letter-spacing: 2px;}
.title-4 h1 em {width:60px;}
.title-3 p {font-size: 14px;}
label, .YourHealthInfo .details-row p {font-size: 14px;}
.custom_select { padding:8px 20px 5px 12px;  height:40px; font-size: 14px;}
.btn-default {height:40px; line-height: 40px; font-size: 14px;}	
.pay-plan-table tr td {font-size: 13px;}
.global-title {padding: 15px 32px 15px 80px; font-size: 18px;}
.title-icon {width: 50px;  left: 15px;}	
.global-title:after {right: 20px;  top: 20px;}	
.contact-advisor {margin-bottom: 20px;}	

.c100 {width: 180px; height: 180px;}
.c100 .slice { width: 180px;  height: 180px;  clip: rect(0em, 180px, 180px, 90px);}
.c100:after {width: 140px; height: 140px;}	
.prof-circle-img/*, .prof-circle-img img*/ { width: 141px;  height: 141px; line-height:140px;}	
.c100 .bar, .fill{ width: 160px !important; height: 160px !important; clip: rect(0em, 90px, 180px, 0em) !important;}	

.circle-txt {width: 120px;}	
.register-container{width: 400px;}	
.logo-main img {width: 110px;}
.nav-wrap {margin-top: 15px; padding-left: 15px;}
.title-3 h1, .title-3 h2 {font-size: 26px;}
.steps-sec h5 {margin-bottom: 12px; font-size: 13px;}
.title-1 h1, .title-4 h1 {font-size: 28px;}	
.user-name {margin: 20px 0 0px 15px; font-size: 16px; padding-left: 35px;}	
.user-name i {width: 25px; height: 25px;}	
.custom-radio input[type="radio"]:checked + label, .custom-radio input[type="radio"]:not(:checked) + label {line-height: 18px; padding: 10px 18px 10px 42px;  font-size: 13px;}
.custom-radio input[type="radio"]:checked + label:before, .custom-radio input[type="radio"]:not(:checked) + label:before {left: 12px;  top: 9px;  width: 18px;  height: 18px;}	
.custom-radio input[type="radio"]:checked + label:after, .custom-radio input[type="radio"]:not(:checked) + label:after {width: 4px;
height: 9px;  top: 13px;  left: 19px;}	
.logout-nav {padding-left: 40px; margin-top: 25px; font-size: 13px;}
.srch-inp-row .btn-srch img {top: -2px; width: 15px;}
.srch-inp-row .btn-srch {height: 30px; width: 30px; line-height: 30px;}
.menu-col {width: 265px;  padding: 25px 15px 0px 15px;}
.body-right-col {padding: 0 0 40px 265px;}
.additional-sec h2 {font-size: 15px;}
.help-icon {width: 18px;  height: 18px; top: -1px;}
.main-title p, .inner-wrap h1 span {font-size: 14px;}
.looking-list li {padding: 6px 15px; font-size: 14px;}
.main-title h1 {margin: 0 0 8px 0 !important;}

	
.multi-todo.custom-radio .submited-check input[type="radio"]:checked + label:after {width: 18px; height: 18px; left: 12px; top: 9px;}	
.multi-todo.custom-radio .rejected-check input[type="radio"]:checked + label:after {width: 20px; height: 20px; background-position: 8px 2px; left: 11px; top: 8px;  background-size: 4px;}
.multi-todo.custom-radio .cancelled-check input[type="radio"]:checked + label:after {width: 20px; height: 20px; background-position: 5px 5px; left: 11px; top: 8px; background-size: 10px;}	
.btn-primary{height: 40px; line-height: 40px; font-size: 14px;}	
input::placeholder, input:-ms-input-placeholder, input::-ms-input-placeholder, input::-webkit-input-placeholder {font-size:14px;}
.signup-social {height: 40px;  font-size: 14px;}
.signup-social > i {font-size: 18px; line-height: 40px;}
.signup-social span {line-height: 40px;}
.cAfsComp_AdditionalDestination .pillHeight, .cAfsComp_LoginDetailComponent .heightSelectList {height: 40px !important;}
.select-drop ul li {padding: 4px 10px 4px 0px;}	
.languageClose {top: 10px;}
.cAffsComp_AboutYou .adjustWidthProgramInput {right: 5%;}
}

@media only screen and (max-width:1279px) {
.inner-wrap, .compWrapper {padding:30px 20px;}
.select-drop ul li {font-size: 12px;}
.srch-inp-row .btn-srch img{position:relative; top:-2px;}
.select-progrm {padding: 8px 12px 12px 12px;}
.user-name {font-size: 15px;}
.inner-wrap h1 {font-size:22px;}
.custom_select:after{right:8px;}
.adv-slct-col.open .custom_select:after{top:7px;}
.menu-col {width: 280px; }
.body-right-col {padding: 0 0 40px 280px;}
.multi-slct {margin-top: 30px;}
.nav-wrap h2 {font-size:30px;}
.additional-sec {margin-bottom:30px;}
.marT40 {margin-top:30px;}
.title-row {padding-bottom: 20px;}
.progrm-img {height: 180px;}

.inner-wrap h1 span {font-size: 16px; margin-top:6px;}
.main-title p {font-size: 16px;}
.main-title h1{margin:0 0 8px 0 !important;}
.title-1 h1, .title-4 h1{ font-size:24px;}
.mail-txt {font-size: 16px;}
.title-2 {font-size: 18px; margin-bottom: 10px;}
.keep-txt h2 {font-size: 20px;}
.keep-txt h3 {font-size: 13px;}
.keep-row {padding: 15px 15px 15px 25px; margin-bottom:15px;}
.details-wrap h2, .video-row h2 {font-size: 18px;}
.title-3 h1, .title-3 h2{font-size:24px; margin-bottom:5px;}
.title-wrap-2 h2{font-size:18px;}
.resource-col h2 {font-size: 22px;}	
.resource-col .resource-icon {width: 90px;}	
.resource-col .resource-icon-2, .resource-col .resource-icon-3 {width: 80px;}
.resource-col{margin: 0 5px 15px 5px; padding: 15px 100px 15px 15px}
.resource-row{margin: 0px -5px;}
.resource-col .resource-icon {right: 10px; top: 10px;}	
.travel-dtl-col {width: 30%;  margin-bottom: 20px;}
.cAffsComp_AboutYou .adjustWidthProgramInput {right:0%;}
}

@media only screen and (max-width:1200px) {
.inner-wrap, .compWrapper {padding: 30px 15px;}
.adv-slct-col .btn-default {padding:0px;}
.comn-sec {padding-bottom: 25px;  margin-bottom: 25px;}
.prof-circle {width: 250px;}
.submisn-dtl {padding-left: 250px;}
.details-wrap {margin-top: 30px;}
.progrm-title {padding-bottom: 10px; margin-bottom: 10px;}
.change-prog{position:relative; left:0px; top:0px; float:left; margin-bottom:4px; width:100%;}

.drgdrop-right { padding-left: 0;  width: 100%; padding:0px !important;}
.upload-files-wrap ul li i.file-formet {width: 40px;}
.upload-files-wrap ul li {padding: 0 0 20px 54px;}
}

@media only screen and (max-width:1024px) {
.menu-col { width: 100%; height:auto;  padding:10px 15px 6px 15px; background:#8e2d91;}
.logo-main {width: 100px; margin-left:36%;}
.logo-main img{width:auto;}
.user-name {width: auto; float:right; clear: none; margin-top: 26px;}
.menu-icon{display:block;}
.body-right-col {padding:100px 0 30px 0px;}
.progrm-wrap [class*="col-"] {margin-bottom: 20px;}
.nav-wrap h2{color:#fff; font-size:26px;}
.login-sec .logo-main {margin-left:15px;}
.register-container {padding: 25px; margin-top: 120px;}
.menu-col .nav-wrap{display:none;}
.marT40 {margin-top:20px;}
.register-form label {font-size: 16px;}
.progrm-inner {height: 240px;}
.title-1 h1, .title-4 h1{ font-size:20px;}
.mail-txt {font-size: 14px;}
.conditional_text{position:relative; left:0px; top:0px; float:left; width:100%; white-space:inherit; margin-bottom:10px;}
.conditional_text-2{position:relative; left:0px; top:0px; float:left; width:100%; white-space:inherit; margin-bottom:10px;}
.aplictn-btns, .fee-cover {margin: 10px 0 20px 0px;}
.aplictn-fee {margin: 20px 0px; font-size: 22px;}
.pay-options h3 {font-size: 14px;}
.title-3 h1, .title-3 h2{font-size:20px;}
.title-wrap-2 h2{font-size:16px;}
.title-4 h1 em {width: 60px;}
.steps-sec h5{font-size: 13px;}
.travel-dtl-col {width: 48%;}
	.contact-advisor {margin-bottom: 15px;}	
	.left-menu > li {margin: 10px 0px 10px 0px;}
	.left-menu > li > p:before {width: 20px;  height: 26px; left: -9px;  top: -2px;}
}

@media only screen and (max-width:991px) {
.inner-wrap h1 {font-size:20px;}
.select-drop ul {padding: 8px;}
.tooltiptext{display:none;}
.custom-tooltip:hover .tooltiptext{display:block;}
.form-group {margin-bottom: 20px;}
.inner-wrap h1 span {font-size: 14px; margin-top:4px;}
.main-title p {font-size: 14px;}
.main-title h1{margin:0 0 8px 0 !important;}
.keep-icon {
    width: 60px;
}
.keep-row {
    padding: 15px;
}
.keep-txt {
    padding: 0px 0 0 80px;
}
.keep-txt h2 {
    font-size: 16px;
}
.keep-txt h3 {
    font-size: 12px;
}
.title-2{
    font-size: 16px;
}

.advsr-like-cmnt {font-size: 13px;}
.advisor-pic {width: 60px; height: 60px;}
.advisor-txt {padding: 0px 0 0 80px;}
.advisor-txt h4 {margin-bottom: 6px; font-size: 16px;}
.bold-font {font-size: 14px;}

.slct-btns {border: solid 1px #0da3d9; padding: 8px 15px 8px 50px; font-size: 13px;}
.slct-btns .pay-icon {left: 10px; top: 9px;}
.cradit-card img, .checkbook img{width:26px;}
.bank img{width:24px;}
.steps-sec h5 {margin-bottom: 12px; font-size: 13px;}
.steps-sec {margin-bottom: 20px; padding-bottom: 20px;}
}

@media only screen and (max-width:800px) {
.progrm-img {height: 140px;}
.details-wrap li {font-size: 13px;}
.details-col {width: 100%;}
.details-row {	margin-bottom: 20px;}
.btn_wrap {margin-top: 5px;	margin-bottom: 20px;}
.program-list-row {width: 100%;  margin-left: 0%;}
.program-list-col, .program-5 .program-list-col {width: 100%;  margin-left: 0;  text-align: left; margin-bottom: 20px;}
.program-list-col:last-child{margin-bottom:0px;}
.profile-nav-row {margin-top: 15px;}
.prof-cmplet-txt {padding: 15px;}
}


@media only screen and (max-width:767px) {
.adv-slct-row {width: 100%;  margin:0px;}
.adv-slct-col { width: 100%;  margin: 0 0 15px 0px;}
.multi-slct { margin-top:20px;}
.marT40 {margin-top: 0px;}
.logo-main {margin-left: 30%;}
.signup-or {margin: 15px 0px;}
.additional-sec {margin-bottom:20px;}
.tooltiptext{left:-15px; bottom:inherit; top:25px; min-width:150px;}
.custom-tooltip .tooltiptext:after {bottom:inherit; top:0px; left:15px; margin:-6px 0 0px 0px; border:inherit;  border-bottom:solid 6px #F1F1F2; border-left:solid 6px transparent; border-right:solid 6px transparent;}
.register-form [class*="col-"]{width:100%;}
.register-form label {font-size:15px;}
.progrm-wrap {width: 100%;  margin:0px;}
.progrm-box {width: 100%; margin: 0px 0 20px 0px;}
.progrm-box:last-child {margin: 0px 0 10px 0px;}
.title-row {padding-bottom: 15px;}
.progrm-img,.progrm-inner {height: auto;}

/*new css add date of 22june2018*/
.col-6, .col-4, .col-3, .col-2, .col-8{float:left; width:100%;}

	
.detail_content li {width: 50%;float: left;}
.pdngL {margin-bottom: 15px;}
.first_width {	width: 50% !important;}
.dietary_bx ul li{ width:50%;}
.knowyou-col {width: 100%;}
.looking-row {margin-bottom: 20px;}
.withyou-row {width: 100%;  margin-left: 0%;}
.withyou-col{width: 100%;  margin-left: 0%;}
.submisn-dtl {float: left; width: 100%;  padding: 20px;  text-align: center;}
.submisin-top {padding: 30px 0px 0px 0px;  float: left;  width: 100%;}
.prof-circle {width: 100%; margin-bottom: 10px;}
.scolrsp {font-size: 15px;}
.accordin-wrap {margin-bottom: 20px;  padding-bottom:10px;}
.video-container {width: 100%;}
.exchnge-prog {margin: 3px 0px 6px 0px;  width: 100%;}
.resource-row { margin: 0px;  display: inline-block;  float: left;  width: 100%;}	
.resource-col {margin: 0 0 15px 0;  padding:25px 100px 15px 20px;  width: 100%;  min-height: 105px;}	
.resource-col h2 {font-size: 18px;}	
.resource-col .resource-icon {width: 80px;}
.resource-col .resource-icon-2, .resource-col .resource-icon-3 {width: 70px;}	
.prof-submisin-wrap {padding-bottom:15px;}	
.global-title {padding: 15px 32px 15px 76px; font-size: 15px;}	
.title-icon {
    width: 46px;
    left: 12px;
}
.travelar-pic, .travelar-pic img {width: 150px; height: 150px;}	
.global-title:after {
    right: 18px;
    top: 17px;
}
.travel-dtl-col {width:100%;  margin-bottom:15px;}
.register-form-2{width: 100%;}	
.btn-pls-mins {margin-top: 7px;}	
.allignProficiency {padding-top: 0px;}	
.languageLabel {width: 100%;}
.radioLabel {padding-left: 0;  top: 0; position: relative; float: left; width: 100%;}	
.todo-row .camp-slct {float: left;  width: 100%;}	
.todo-row .review-label {padding: 0px 0 10px 0px;  font-size: 14px;  margin: 0px;  width: 100%;}
.custom-radio .todo-row  .camp-slct label {margin: 0px 0 4px 0px; width:100%;}
.multi-todo, .todo-row{width: 100%;}
.nav-wrap {padding-left: 10px;}	
}


@media only screen and (max-width:640px) {
.logo-main {margin-left:25%;}
.inner-wrap h1 {font-size: 18px; margin-bottom: 10px;}
.inner-wrap, .compWrapper {padding: 20px 15px;}
.register-container {width:90%;}
.health_lifestyle_bx .radio_col {	width: auto;}

.looking-list {width: 100%; margin-left: 0%;}
.looking-list li {width: 100%; margin: 0 0 10px 0px; font-size: 15px;}
.social-col { margin-right: 0px;  width: 100%; margin-bottom: 10px;}
.btn-doc-submt {margin: 10px 0 0 0px; width: 100%;}
.aplictn-btns .btn-default {height: 40px;  line-height: 40px; width: 100%;}
.cAffsComp_AboutYou .adjustWidthProgramInput {width: 100%!important; margin-top: 5px; position:relative; float:left; top:0px;}	
}

@media only screen and (max-width:520px) {
.social-ac-label {width: 100%;  margin-top: 0;}
.social-ac-row .font-icon {width: auto;  text-align: left; margin-right: 10px;}
.social-ac-inp {width: 100%;  margin-left: 0;}
}

@media only screen and (max-width:480px) {
.detail_content li {width:100%;}
.col-6 {width: 100%;}
	
.width-2 {width: 100%;}
.width-1 {width: auto;}
.width-1 {width: auto;}
label, .YourHealthInfo .details-row p {font-size: 15px;}

.radio_col {padding-right: 10px;}
.width-0 {	width: 100%;	padding: 0;}
.first_width{ width:100% !important;} 
.dietary_bx ul li {	width: 100%;}
.btn-primary {	width: 100%;}
}

@media only screen and (max-width:479px) {
.logo-main {margin-left:0px; width:85px;}
.menu-icon{ margin:22px 15px 0 5px;}
.user-name {font-size: 14px; padding-left: 35px;}
.user-name i {top: -3px;  width: 26px;}
.signup-social-row { margin: 0;  width: 100%;}
.signup-social {margin: 0 0 10px 0;  padding: 0px 18px; width:100%;}
.register-container {padding: 20px 15px;}
.photo-col {margin: 0 0px 15px 0px; width:100%; text-align:center;}
.photo-circle{float:none; display:inline-block;}
.width-4 {width: 100%;}
.scolrsp .apply-by {display: block; padding-left: 34px; padding-top: 6px;}
.msg-send-inp .form-control {width: 100%;}
.msg-send-inp .btn-default {padding: 0px 15px; width: 100%; margin-top: 10px;}
.cld-col, .video-up-col{width: 100%;}	
.allignProficiency .radio_col {padding-right: 0px !important;  width: 100%;}	
.nav-wrap.displayFull{top: 72px;}	
.register-form .check_box br{display: block;}
.advisor-pic-txt.subComments {padding-left: 20px; min-height: 54px;}	
.msg-send-inp {margin-bottom: 20px; display: inherit;}	
.advisor-pic-txt.subComments .advisor-pic {width: 46px; height: 46px;}	
.advisor-pic-txt.subComments .advisor-txt {padding: 0px 0 0 60px;}
.cAfsComp_DocumentAction .drgdrop-box { width: 280px !important;}
.otherOption {margin-top:0px;}
.changeProgramModel .slds-modal .slds-modal__content .colorFont {padding-left: 38px;}
.cAfsComp_DocumentAction .slds-file-selector__dropzone {width: 280px !important;  left: -54% !important;}	
}









































