.THIS .photoPreview img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    color: #fff;
    position: absolute;
    z-index: 998;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    overflow: hidden;
}

.THIS .prof-circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.THIS .photoPreview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}