.THIS body{background: rgb(143,43,144); /* Old browsers */
background: -moz-linear-gradient(top, rgb(143,43,144) 0%, rgb(53,103,177) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2b90', endColorstr='#3567b1',GradientType=0 ); /* IE6-9 */}



.THIS .displayFull{
    display : block !important;
}

.THIS .PolicyHeader{
	margin-top: 10px;
}

.THIS .boxScrolable{
    border : 1px solid #d4d4d4;
    overflow-y : auto;
    height: 75px !important;
    font-size: 14px;
    padding: 6px;
}