.THIS .siteforcePanelsContainer {
    height: auto !important;
}

.THIS .register-form-2 {
    float: let;
    width: 660px;
}

.THIS a.datePicker-openIcon.display {
   /* display: none;*/
}


.THIS .check_boxLbl {
    display: inline-block;
    margin: 0;
    min-height: 21px;
    padding: 0 0 0 11px;
    text-align: left;
    vertical-align: middle;
    color: #939598;
    font-size: 14px;
    cursor: pointer;
    float: none;
    width: auto;
    line-height: 21px;
}

.THIS .displayInline{
    display:inline-block;
}

.THIS .displayFull{
    display : block !important;
}

.THIS .pointerClass {
    cursor : pointer;
}

.THIS .boxScrolable{
    border : 1px solid #d4d4d4;
    overflow-y : auto;
    height: 75px !important;
    font-size: 14px;
    padding: 6px;
}

.THIS .languageIcon{
    display : inline;
    margin-bottom: 2px;
}

.THIS .languagesDiv {
    display: inline-block;
    text-transform: uppercase;
}

.THIS .languageInative {
    color: #bfc9e2;
    cursor : pointer;
    opacity: 0.5;
}

.THIS .allHighlight {
    color: #bfc9e2;
    opacity: 1 !important;
}

.THIS .languageInative:hover {
    opacity: 1;
}