.THIS a.datePicker-openIcon.display {
	/* display: none;*/
 }
 
 .THIS .radioDisplayInline {
	 display: inline-block;
	 width: 30%;
	 margin-bottom: 15px;
	 color: #5b5b5b;
	 font-size: 17px;
 }
 
 .THIS .radioDisplayInline2 {
	 display: inline-block !important;
	 WIDTH: auto !important;
	 margin-bottom: 15px !important;
	 color: #5b5b5b !important;
	 font-size: 17px !important;
	 padding-left: 4px !important;
 }
 
 
 
 
 .THIS .margin_top{
	 margin-top:20px;
 }
 
 .THIS .hiddenField{
	 visibility : hidden;
 }
 
 .THIS .uiInput.uiInputCheckbox{
	 display: flex;
	 padding-bottom: 5px;
	 padding-top: 5px;
	 cursor: pointer;
 }
 
 .THIS .uiInput.uiInputCheckbox label{
	 order:2;
	 cursor:pointer;
	 padding-left:5px;
	 font-weight: 400;
 }
 
 .THIS .uiInput.uiInputCheckbox input{
	 order: 1;
	 box-shadow:none;
	 margin-top: 3px;
	 }
	 
	 
 /* Languages  */	
	 
 .THIS .languages .col-8, .THIS .languages .col-7 {
	 display: flex;
	 align-items: baseline;
	 
 }
 
 .THIS .languageLabel{
	 margin-right: 9px;
 }
 
 .THIS .languages .row{
	 margin: 10px -8px;
 }
 
 .THIS .languages .languageClose{
	 width: 20px;
	 height: 20px;
	 margin-left: 12px;
	 margin-right: 4px;
	 cursor: pointer;
	 filter: grayscale(100%)
 }
 .THIS .languages .languageClose:hover{
	 filter: grayscale(0%)
 }