.THIS .pay-plan-table  table th {
    font-size:15px;
}
.THIS .pay-plan-table  table th:first-child {
   width:15%;
}
.THIS .div-Entry{
    margin-top:5%;
}
.THIS .save_button_travel{
    margin-left:10px;
}

.THIS .full {
    margin-top: 20px !important;
}