.THIS .slds-input {
	font-size: 16px;
	height: 40px;
	}

	
.THIS label{
	font-size: 14px;
	color: #58595b;
	margin-bottom: 6px;
}


.THIS li.slds-listbox__item {
    font-size: 16px;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.THIS li.slds-listbox__item:hover {
    background-color: #00AEEF;
    color: white;
    cursor: pointer;
}

.THIS .cantFindSchoolBtn{
	color: #00AEEF;
}


.THIS label.slds-form-element__label{
	display: none;
}